@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* Font Variables */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Quicksand', sans-serif;

  /* Background color */
  --bg-primary: #0D3972;
  --bg-secondary: #225985;
  --bg-white: #fff;
  --bg-black: #121212;
  --bg-light-white:#fcfcfc;
  --bg-light-2: #f2f7fa;

  /* Text Color Variables */
  --text-primary: #0D3972;
  --text-secondary: #225985;
  --text-white: #fff;
  --text-light-white: #e5eaf5;
  --text-black: #121212;
  --text-black-2: #333;
  --text-light: #798089;
  --text-light-2: #5e5e72;
  --text-light-3: #A0A0A0; 
}

body {
  font-family: var(--primary-font);
  color: var(--text-white);
  font-weight: 500;
  background-color: #0D3972;
  /* height: 100vh;
  background-image: linear-gradient(to top left, #2167a5 0%, #0D3972 100%);  */
}

.title {
  text-align: center;
}

.about-info-section {
  text-align: center;
  padding: 30px 0 50px;
}

.about-info-section button {
  width: 200px;
  margin: 10px;
  border-radius: 999px;
}

.player-name {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.player-score {
  font-size: 4rem;
  font-weight: 300;
  color: var(--text-primary);
  margin-bottom: 150px;
}

.current {
  background-color: var(--bg-primary);
  /* opacity: 0.8; */
  border-radius: 9px;
  color: #fff;
  padding: 1rem;
  width: 50%;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.status-indicator {
  vertical-align: middle;
  font-size: 14px !important;
}

.border-primary {
  border-width: thick;
}

/* Dice CSS */
.container-dice{
  perspective: 1000px;
  perspective-origin: 50% 50%;
  font-family: 'fontawesome';
}
.container-dice .dice{
  position: relative;
  left: 5%;
  top: 40%;
  height: 160px;
  width: 160px;
  transform-style: preserve-3d;
  transform: rotateX(135deg) rotateY(-217deg) rotateZ(-88deg);
}
.container-dice .dice div{
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border:2px solid #eee;
  color: #fff;
}
.container-dice .dice div span{
  font-size: 22px;
}

.container-dice .dice .front{
  background: var(--bg-primary);
  transform: translateZ(60px);
}
.container-dice .dice .back{
  background: var(--bg-primary);
  transform: translateZ(-100px) rotateY(180deg);
}
.container-dice .dice .right{
  background: var(--bg-primary);
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(100px);
}
.container-dice .dice .left{
  background: var(--bg-primary);
  transform-origin: center left;
  transform: rotateY(270deg) translateX(-100px);
}
.container-dice .dice .top{
  background: var(--bg-primary);
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(-100px);
}
.container-dice .dice .bottom{
  background: var(--bg-primary);
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(100px);
}

/*DOT ALIGNMENT */
.container-dice .dice .front span,.container-dice .dice .left span:nth-child(1),
.container-dice .dice .right span:nth-child(1){
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.container-dice .dice .top span:nth-child(1),.container-dice .dice .left span:nth-child(2),
.container-dice .dice .right span:nth-child(2),
.container-dice .dice .bottom span:nth-child(1){
  position: absolute;
  top: 35px;
  left: 35px;
}
.container-dice .dice .top span:nth-child(2),.container-dice .dice .left span:nth-child(3),
.container-dice .dice .right span:nth-child(3),
.container-dice .dice .bottom span:nth-child(2){
  position: absolute;
  bottom: 35px;
  right: 35px;
}
.container-dice .dice .right span:nth-child(4),
.container-dice .dice .bottom span:nth-child(3){
  position: absolute;
  top: 35px;
  right: 35px;
}
.container-dice .dice .right span:nth-child(5),
.container-dice .dice .bottom span:nth-child(4){
  position: absolute;
  bottom: 35px;
  left: 35px;
}
.container-dice .dice .back pre{
  font-size: 21px;
  font-family: 'fontawesome';
  margin: 0;
}
.container-dice .dice .back .firstPre{
  position: absolute;
  top: 45px;
  left: 26px;
}
.container-dice .dice .back .secondPre{
  position: absolute;
  bottom: 45px;
  right: 26px;
}

@keyframes animate {
  25%{
    transform: rotateX(45deg) rotateY(65deg) rotateZ(35deg);
    top: 0%;
  }
  50%{
    transform: rotateX(145deg) rotateY(165deg) rotateZ(135deg);
    top: 30%;
  }
  75%{
    transform: rotateX(276deg) rotateY(256deg) rotateZ(246deg);
    top: 45%;
  }
  100%{
    transform: rotateX(376deg) rotateY(356deg) rotateZ(346deg);
    top: 60%;
  }
}

.modal {
  color: var(--text-black);
}

/***********************************************
$$\      $$\                 $$\ $$\           
$$$\    $$$ |                $$ |\__|          
$$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\  
$$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\ 
$$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |
$$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |
$$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |
\__|     \__| \_______| \_______|\__| \_______|
                                               
                                               
Description: Media Queries Section CSS
***********************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .player-name {
    font-size: 2rem;
  }

  .current {
    width: 90%;
  }

  #dice {
    margin-top: 0px;
    margin-bottom: 150px;
  }

  #rollBtn {
    margin-top: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .player-name {
    font-size: 2rem;
  }

  .current {
    width: 90%;
  }

  .current-label {
    font-size: 1.2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  .current {
    width: 80%;
  }

  .current-label {
    font-size: 1.7rem;
  }
}