@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* Font Variables */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Quicksand', sans-serif;

  /* Background color */
  --bg-primary: #0D3972;
  --bg-secondary: #225985;
  --bg-white: #fff;
  --bg-black: #121212;
  --bg-light-white:#fcfcfc;
  --bg-light-2: #f2f7fa;

  /* Text Color Variables */
  --text-primary: #0D3972;
  --text-secondary: #225985;
  --text-white: #fff;
  --text-light-white: #e5eaf5;
  --text-black: #121212;
  --text-black-2: #333;
  --text-light: #798089;
  --text-light-2: #5e5e72;
  --text-light-3: #A0A0A0; 
}

body {
  font-family: var(--primary-font);
  color: var(--text-white);
  font-weight: 500;
  /* background-color: #0D3972; */
  height: 100vh;
  background-image: linear-gradient(to top left, #2167a5 0%, #0D3972 100%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.title {
  text-align: center;
}

.about-info-section {
  text-align: center;
  padding-bottom: 50px;
}

.about-info-section button {
  width: 200px;
  margin: 10px;
  border-radius: 999px;
}

.player-name {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.player-score {
  font-size: 4rem;
  font-weight: 300;
  color: var(--text-primary);
  margin-bottom: 150px;
}

.current {
  background-color: var(--bg-primary);
  /* opacity: 0.8; */
  border-radius: 9px;
  color: #fff;
  padding: 1rem;
  width: 50%;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.dice {
  /* position: absolute;
  left: 50%;
  top: .5rem;
  transform: translateX(-50%); */
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

/***********************************************
$$\      $$\                 $$\ $$\           
$$$\    $$$ |                $$ |\__|          
$$$$\  $$$$ | $$$$$$\   $$$$$$$ |$$\  $$$$$$\  
$$\$$\$$ $$ |$$  __$$\ $$  __$$ |$$ | \____$$\ 
$$ \$$$  $$ |$$$$$$$$ |$$ /  $$ |$$ | $$$$$$$ |
$$ |\$  /$$ |$$   ____|$$ |  $$ |$$ |$$  __$$ |
$$ | \_/ $$ |\$$$$$$$\ \$$$$$$$ |$$ |\$$$$$$$ |
\__|     \__| \_______| \_______|\__| \_______|
                                               
                                               
Description: Media Queries Section CSS
***********************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .player-name {
    font-size: 2rem;
  }

  .current {
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .player-name {
    font-size: 2rem;
  }

  .current {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  .current {
    width: 50%;
  }
}